<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="msc.unical.it.mrhush">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAVE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:installLocation="internalOnly"
        android:allowBackup="true"
        android:icon="@mipmap/ic_mrh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mrh"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBiyENde09iQwI1HEdOjcdrioYztrnmlnA" />

        <activity android:name=".Activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.WelcomeActivity"/>
        </activity>

        <activity android:name=".Activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.LoginActivity" />
        </activity>
        <activity android:name=".Activities.HabitCreatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:noHistory="true"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity android:name=".Activities.BluetoothSettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:noHistory="true"
                android:value=".Activities.HabitCreatorActivity" />
        </activity>
        <activity android:name=".Activities.WiFiSettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:noHistory="true"
                android:value=".Activities.HabitCreatorActivity" />
        </activity>
        <activity android:name=".Activities.LocationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:noHistory="true"
                android:value=".Activities.HabitCreatorActivity" />
        </activity>
        <activity android:name=".Activities.DateSettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:noHistory="true"
                android:value=".Activities.HabitCreatorActivity" />
        </activity>
        <activity android:name=".Activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:noHistory="true"
                android:value=".Activities.LoginActivity" />
        </activity>

        <receiver android:name="msc.unical.it.mrhush.Logic.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name=".Logic.MrHushService"/>

    </application>

</manifest>